= form_for(@project) do |f|
  .form-group#form
    = f.label :title
    %br
    = f.text_field :title, size: '80', class: "form-control", placeholder: 'E.g: Rails app with vue.js'
  .actions
    = f.submit 'Submit', :class => 'btn btn-block btn-success'


:javascript
  Vue.use(Toasted)
  const errors = #{@project.errors.full_messages.to_json}
  var app = new Vue({
    el: '#form',
    mounted(){
      errors.map((item) => {
        Vue.toasted.show(item, {
          type: 'error',
          duration: 5000
        });
      })
    }
  })