.card.col-12.p-3#form
  %h2 Edit Item
  = form_for([@project, @item], :url => { :action => :update }) do |f|
    .form-group
      = f.label :action
      %br
      = f.text_field :action, size: '80', class: "form-control"
    .form-group
      .form-check
        = f.label :done, 'Done?'
        = f.check_box :done, class: 'form-check-label'
    .actions
      = f.submit 'Submit', :class => 'btn btn-block btn-success'

:javascript
  Vue.use(Toasted)
  const errors = #{@item.errors.full_messages.to_json}
  var app = new Vue({
    el: '#form',
    mounted(){
      errors.map((item) => {
        Vue.toasted.show(item, {
          type: 'error',
          duration: 5000
        });
      })
    }
  })